{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "proseWrap": "preserve",
  "plugins": ["prettier-plugin-tailwindcss"]
}
